ul {
  list-style-type: none;
}
p {
  margin: 0.75rem 0;
}

input {
  width: 20rem;
  border-radius: 0.5rem;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

.app {
  width: 90vw;
  margin: auto;
}
/* header */

.header {
  border: 0.1rem solid black;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  height: 4rem;
  font-size: 20px;
  border-radius: 0.5rem;
}

.logo-container {
  width: 10vw;
}

.logo {
  height: 4rem;
}

.nav-items-container {
  display: flex;
  flex-direction: column;
  width: 90vw;
  justify-content: center;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* body */
/* RestaurantCard */
.res-container {
  display: flex;
  flex-wrap: wrap;
}
.res-card {
  margin: 1rem;
  height: 21rem;
  width: 17rem;
  padding: 1rem;
  background-color: #f0f0f0;
  border-radius: 2rem;
}

.res-card:hover {
  border: 0.1rem solid #cacade;
  cursor: pointer;
}

.res-img {
  height: 16rem;
  width: 17rem;
  border-radius: 2rem;
}

.food-info,
.food-cost {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
  line-height: 1px;
}
.time-to-deliver {
  display: flex;
  flex: 1;
  justify-content: end;
  padding: 0 1rem;
  align-items: center;
  line-height: 1px;
}

.top-rated-btn-container {
  display: flex;
  justify-content: center;
}

.btn {
  background-color: burlywood;
  height: 2rem;
  border: 0.1rem solid rgb(176, 160, 140);
  cursor: pointer;
  border-radius: 2rem;
  min-width: 4rem;
}

.btn:hover {
  background-color: rgb(171, 139, 97);
}

.btn:active {
  background-color: burlywood;
}
.search {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.input {
  margin-right: 1rem;
}
.res-menu-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.res-menu-img-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.res-menu-img {
  object-fit: cover;
  border-radius: 0.5rem;
  width: 100%;
  height: 50vh;
}
.user-container {
  display: flex;
}
